<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="bloops.css">
    </head>
    <body>

    <script src="bloops.js"></script>

        <div style="width:600px;">
            <svg id="bloop-world" class="bloop-world" xmlns="http://www.w3.org/2000/svg" :width="width" :height="height">
                <rect class="background" :width="width" :height="height"/>
                <g class="food">
                    <circle
                        v-for="f in food"
                        :cx="f.x" :cy="f.y" :r="f.r"
                    />
                </g>
                <g class="creatures">
                    <circle
                        v-for="c in creatures"
                        :cx="c.x" :cy="c.y" :r="c.r"
                    />
                </g>
            </svg>
        </div>

<script type="text/javascript">
    // Set up world
    World.init({
        width: 1000,
        height: 600,
    });

    World.addFood(100);
    World.addCreature(20);
    World.run();
</script>

<script type="text/javascript">
    //Code for displaying world

    var vm = new Vue({
        el: '#bloop-world',
        data: {
            width: World.width,
            height: World.height,
            food: World.food,
            creatures: World.creatures,
        }
    });
</script>

    </body>
</html>